body {
  padding: 0;
  width: 800px;
  height: 100vh;
  margin: auto;
  font-family: 'Coustard', Georgia, Times, 'Times New Roman', serif;
  background: no-repeat center/cover url(../images/letters.jpg);
}

p {
  margin: 0;
  padding: 50px;
}

.intro {
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 4em;
  color: white;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
}
.form {
  text-align: center;
  font-weight: 400;
  font-family: 'Coustard', Georgia, Times, 'Times New Roman', serif;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
}

select, button {
  font-family: 'Coustard', Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  line-height: 1.2em;
  height: 2em;
}


header {
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.head {
  padding: 25px;
  flex: 0 0 calc(50% - 50px);
  font-weight: 900;
  color: black;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.game {
  text-align: center;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.game-word {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
}
.lose-message {
  text-transform: lowercase;
  color: purple;
}
.win-message {
  color: green;
  font-size: 2em;
  font-weight: 900;
}

.game-form input, .game-form button {
  font-family: 'Coustard', Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  line-height: 1.2em;
  height: 2em;
}

.button {
  font-family: 'Coustard', Georgia, Times, 'Times New Roman', serif;
  font-size: 1em;
  line-height: 1.2em;
  height: 2em;
}

.error-message {
  color: red;
  font-weight: 900;
}
